*.pyc
wandb/*
mmada-text-only-output/*
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755004723.vllm-test--11d18a76f10c-6gpnioc3uq.318876.0
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755004793.vllm-test--11d18a76f10c-6gpnioc3uq.321304.0
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755004943.vllm-test--11d18a76f10c-6gpnioc3uq.325787.0
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755006045.vllm-test--11d18a76f10c-okv655jdnv.8037.0
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755006285.vllm-test--11d18a76f10c-okv655jdnv.15468.0
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755006316.vllm-test--11d18a76f10c-okv655jdnv.16958.0
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755007825.job-2fb8d0fc-39fd-45a9-9ab9-52bde4cf357b-worker-0.928.0
mmada-text-only-output/logs/mmada-text-only-training/events.out.tfevents.1755007825.job-247d5d91-d8c9-4c9d-bd9d-5e7fef05d142-worker-0.719.0
mmada-text-only-output/logs/mmada-text-only-training/1755004723.5730186/events.out.tfevents.1755004723.vllm-test--11d18a76f10c-6gpnioc3uq.318876.1
mmada-text-only-output/logs/mmada-text-only-training/1755004723.5806932/hparams.yml
mmada-text-only-output/logs/mmada-text-only-training/1755004793.550182/events.out.tfevents.1755004793.vllm-test--11d18a76f10c-6gpnioc3uq.321304.1
mmada-text-only-output/logs/mmada-text-only-training/1755004793.5564945/hparams.yml
mmada-text-only-output/logs/mmada-text-only-training/1755004943.941956/events.out.tfevents.1755004943.vllm-test--11d18a76f10c-6gpnioc3uq.325787.1
mmada-text-only-output/logs/mmada-text-only-training/1755004943.9470167/hparams.yml
mmada-text-only-output/logs/mmada-text-only-training/1755006045.7573009/events.out.tfevents.1755006045.vllm-test--11d18a76f10c-okv655jdnv.8037.1
mmada-text-only-output/logs/mmada-text-only-training/1755006045.7645183/hparams.yml
mmada-text-only-output/logs/mmada-text-only-training/1755006285.7990763/events.out.tfevents.1755006285.vllm-test--11d18a76f10c-okv655jdnv.15468.1
mmada-text-only-output/logs/mmada-text-only-training/1755006285.808462/hparams.yml
mmada-text-only-output/logs/mmada-text-only-training/1755006316.056461/events.out.tfevents.1755006316.vllm-test--11d18a76f10c-okv655jdnv.16958.1
mmada-text-only-output/logs/mmada-text-only-training/1755006316.0607104/hparams.yml
mmada-text-only-output/logs/mmada-text-only-training/1755007825.848894/events.out.tfevents.1755007825.job-247d5d91-d8c9-4c9d-bd9d-5e7fef05d142-worker-0.719.1
mmada-text-only-output/logs/mmada-text-only-training/1755007825.8497546/events.out.tfevents.1755007825.job-2fb8d0fc-39fd-45a9-9ab9-52bde4cf357b-worker-0.928.1
mmada-text-only-output/logs/mmada-text-only-training/1755007825.8638043/hparams.yml
mmada-text-only-output/logs/mmada-text-only-training/1755007825.864404/hparams.yml
core.313806
